<!DOCTYPE html>
<html lang="">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <header></header>
      <div class="containerForm">
          <form method="post" action="https://checkout.payulatam.com/ppp-web-gateway-payu/">  
                  <input type="text" class="form-control" name="buyerFullName" value="Juan David Nieto" id="buyerFullName" placeholder="(*) Nombres" required></input>
                  <input type="text" class="form-control" name="shippingAddress" value="Carrera 15 # 4b - 63" id="shippingAddress" placeholder="(*) Dirección" required></input>
                  <input type="text" class="form-control" name="telephone" value="3122538851" id="telephone" placeholder="(*) Teléfono" required></input>
                  <input type="email" class="form-control" name="buyerEmail" value="jdnf13@gmail.com" id="buyerEmail" placeholder="(*) Correo electrónico" required></input>
                  <input name="shippingCity" value="Manizales" id="shippingCity" class="form-control"></input>
                  <input name="merchantId" value= 898269 type="hidden" class="form-control"></input>
                  <input name="apiKey" value= "ME7cLWx8UCl5f7kZo592rk0Bug" type="hidden" class="form-control"></input>
                  <input name="accountId" value=904887 type="hidden" class="form-control"></input>
                  <input name="referenceCode" value="123456789" type="hidden" class="form-control"></input>
                  <input name="usuarioId" value="123456789" type="hidden" class="form-control"></input>
                  <input name="description" value="Café 100% Colombiano" type="hidden" class="form-control"></input>
                  <input name="amount" value="10000" type="hidden" class="form-control"></input>
                  <input name="currency" value="COP" type="hidden" class="form-control"></input>
                  <input name="tax" value=0 type="hidden" class="form-control"></input>
                  <input name="taxReturnBase" value = 0 type="hidden" class="form-control"></input>
                  <input name="responseUrl"    type="hidden"  value="https://www.facebook.com/CafeZenn"></input>
                  <input name="confirmationUrl"    type="hidden"  value="https://www.facebook.com/CafeZenn"></input>
                  <input name="shippingCountry" value="CO" type="hidden" class="form-control"></input>
                  <input name="signature" value="ME7cLWx8UCl5f7kZo592rk0Bug~898269~123456789~10000~COP" type="hidden" class="form-control"></input>
          </form>
      </div>
    <main></main>
    <footer></footer>
  </body>
</html>